body{
    background-color: aquamarine;
}
h1{
    font-family: cursive;
    background-color: rgba(127, 175, 76, 0.849);
    text-align:center;
    width:500px;
    margin-top: auto;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:auto;
    border:solid;
    border-radius: 5px;
}
#main{
    background-color: azure;
    height: 500px;
    width: 300px;
    margin-top: auto;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:auto;
    border: solid 5px;
    border-radius: 25px

}
#inner_main{
    background-color: darkgrey;
    height:460px;
    border-left: 7px solid whitesmoke;
    border-right:7px solid whitesmoke;
}
h2{
    text-align: center;
}
ul{
    list-style-type: none;
}
ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    
    display: inline;
}
img{
    size: 24px 24px;
}
a:hover{
    opacity: 0.5;
}